* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/S35.jpg);
}
body > form > div > label {
  color: green;
  display: inline-block;
  width: 250px;
  padding: 0 2.5em;
}
body > form > div > input {
  width: 250px;
  height: 30px;
  text-align: center;
}
body > form > .clone-radio > div {
  display: inline-block;
}
body > form > .clone > div > #radio {
  margin-left: 1.8em;
}
body > form > .clone > div {
  display: inline-block;
  margin: -2px;
}
body > form > .clone > div > #checkbox {
  margin-left: 0.2em;
}
body > form > div > input > radio {
  width: 200px;
  height: 30px;
  text-align: center;
}

body > form > div > button {
  background-color: #0652dd;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 39px;
  width: 150px;
  height: 33px;
}
body > form > div > button:hover {
  background-color: #ee5a24;
  color: white;
  border: none;
  border-radius: 5px;
}
